@page "/"
@inherits LayoutComponentBase

<div class="page-container">
    <h1>Main Page</h1>
    <Tabs @bind-ActiveKey="@activeKey" Size="TabSize.Large">
        <TabPane Tab="Tab 1" Key="1">
            @*<A></A>*@
        </TabPane>
        <TabPane Tab="Tab 2" Key="2" >
            <B></B>
        </TabPane>
        <TabPane Tab="Tab 3" Key="3" >
            <C></C>
        </TabPane>
        <TabPane Tab="Tab 4" Key="4" >
            <D></D>
        </TabPane>
    </Tabs>
</div>